.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
}

.image-container {
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgb(211, 211, 211);
}

.image {
  position: relative;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}
span {
  margin: 10px;
}
